<section class="hero">
  <div class="wrapper">
    <div class="hero__mainContent">
      <div class="hero__mainContent-title">
        <div class="hero__title">
          <span class="hero__title-span"
            >ice cream<br />
            made with</span
          >passion
        </div>
        <div class="hero__buttons">
          <a class="hero__btn hero__btn--products" href="#products">Products</a>
          <a class="hero__btn hero__btn--about" href="#how">How it's made?</a>
        </div>
      </div>
    </div>
  </div>
</section>
