<header id="top" class="header">
  <div class="wrapper">
    <div class="header__content">
      <a class="header__logo" href="index.html">
        <img class="header__logo-img" src="./images/logo.png" alt="icecream-logo" />
      </a>
      <a id="hamburger" href="javascript:void(0)" class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
        <span class="line line4"></span>
      </a>
    </div>
  </div>
  <div class="header__mobileMenu header__mobileMenu--hidden">
    <div class="header__mobileMenu-content">
      <button class="btn-buyMobile">
        Buy now
        <img src="./images/arrowRight.svg" alt="arrowRight" />
      </button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="index.html">Home</a>
          </li>
          <li class="nav__item">
            <a id="navAbout" class="nav__link" href="#about">About us</a>
          </li>
          <li class="nav__item">
            <a id="navHow" class="nav__link" href="#how">How it’s made?</a>
          </li>
          <li class="nav__item">
            <a id="navProducts" class="nav__link" href="#products">Our products</a>
          </li>
          <li class="nav__item">
            <a id="navContact" class="nav__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
